<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RestSharpTemplate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="csharprestshartemplate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RestSharpTemplate.Properties.Settings>
            <setting name="REPORT_NAME" serializeAs="String">
                <value>RestSharpTemplate</value>
            </setting>
            <setting name="REPORT_SUBSTRING_LENGTH" serializeAs="String">
                <value>29</value>
            </setting>
            <setting name="DB_CONNECTION_TIMEOUT" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AUTHENTICATOR_USER" serializeAs="String">
                <value>usuarioAuthentication</value>
            </setting>
            <setting name="AUTHENTICATOR_PASSWORD" serializeAs="String">
                <value>senhaAuthentication</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://192.168.99.100:8989</value>
            </setting>
            <setting name="TOKEN" serializeAs="String">
                <value>aGU5l_OqRxM-bv-B2oQ3zV1oxyAXrCNr</value>
            </setting>
            <setting name="DB_PORT" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DB_URL" serializeAs="String">
                <value>192.168.99.100</value>
            </setting>
            <setting name="DB_NAME" serializeAs="String">
                <value>bugtracker</value>
            </setting>
            <setting name="DB_USER" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB_PASSWORD" serializeAs="String">
                <value>root</value>
            </setting>
        </RestSharpTemplate.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.24.0.0" newVersion="0.24.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>